fastapi
uvicorn
celery
redis
PyMuPDF
scikit-learn
gTTS
openai
langchain
python-dotenv
beautifulsoup4
requests
lxml
langchain-community
python-multipart
streamlit
PyPDF2
transformers
pyttsx3
feedparser
sentence_transformers
torch